body {
  background-color: lightgray
}

p {
  font-size: 19px
}

#paragraphText {
  margin: 10px;
  border: 2px solid black;
}

.table {
  display: table;
  border: 2px ridge black;
}

.row {
  display: table-row;
  margin: 5px;
}

.cell {
  display: table-cell;
  margin: 5px;
}

button {
  margin:5px;
  font-size: 12pt;
}
